*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: hsl(120, 27%, 2%);
  --background-color: hsl(110, 30%, 96%);
  --primary-color: hsl(110, 27%, 50%);
  --secondary-color: hsl(194, 26%, 70%);
  --accent-color: hsl(221, 27%, 63%);
}

body {
  padding: 1em;
  font-family: sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

h2 {
  margin: 1rem 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#form-block {
  justify-self: end;
}

#form {
  border-radius: 1.5rem;
  padding: 4em 2em;
  background-color: var(--accent-color);
}

#form input {
  background-color: var(--background-color);
  border: none;
  padding: 0 0.25em;
}

#form input:focus {
  outline: none;
}

#grid-container,
#form-grid,
#locations-container,
#search-bar-block,
#items-container {
  display: grid;
}

#grid-container {
  grid-template-columns: repeat(2, auto);
  gap: 3em;
}

#form-grid {
  grid-template-columns: 10em 25em;
  row-gap: 0.25em;
}

input[type="submit"] {
  border: none;
}

#form input[type="submit"] {
  padding: 1em;
  border-radius: 1.5rem;
  background-color: var(--background-color);
}

#button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: end;
}

#items-block,
#search-bar-block {
  grid-column: 1 / span 2;
}

#search-bar-block {
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: 1em;
}

#search-bar-block label {
  align-self: center;
  text-align: end;
}

#search-bar-block select {
  background-color: var(--secondary-color);
  padding: 1em;
  border-radius: 1.5rem;
  border: none;
}

#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1.5rem;
  background-color: var(--secondary-color);
}

#search-bar i {
  font-style: normal;
  padding: 1em;
}

#search-bar input[type="text"] {
  width: 100%;
  padding: 1em 0;
  background-color: transparent;
  border: none;
}

#search-bar input[type="submit"] {
  width: 8em;
  padding: 1em 0;
  border-radius: 0 1.5rem 1.5rem 0;
  border: 1px solid var(--accent-color);
  background-color: var(--background-color);
}

#search-bar input:focus {
  outline: none;
}

#items-container {
  grid-template-columns: repeat(8, auto) repeat(2, 3em);
}

#locations-block {
  justify-self: start;
}

li {
  padding-left: 1em;
}

.header {
  font-weight: bolder;
}

div[id^="header"] {
  border: 1px solid black;
}

div[id$="id"]:not(div[id="form-grid"]),
div[id$="name"],
#items-container > div[id$="quantity"],
#items-container > div[id$="price"],
#items-container > div[id$="date"],
#items-container > div[id$="freeText"],
div[id$="description"] {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.bottom-item {
  border-bottom: 1px solid black;
}
