*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  font-family: sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#form,
#items-container {
  display: grid;
}

#form {
  width: fit-content;
  padding: 4em 2em;
  background-color: rgb(154, 173, 225);
  grid-template-columns: 10em 20em;
  row-gap: 0.25em;
}

#items-container {
  grid-template-columns: repeat(8, auto);
}

.header {
  font-weight: bolder;
}

div[id^="header"] {
  border: 1px solid black;
}

div[id$="id"],
div[id$="name"],
div[id$="quantity"],
div[id$="price"],
div[id$="date"],
div[id$="freeText"] {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.bottom-item {
  border-bottom: 1px solid black;
}
